# Dependency directories
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# IDE and editor files
/.idea
/.vscode
*.swp
*.swo

# Logs
/logs

# Miscellaneous
.DS_Store
Thumbs.db