@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@500&display=swap');

.about-us {
    display: block;
    margin: auto;
    width: 52.5rem;
    height: 100%;
    background-color: white;
}

.about-us-heading {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-size: 3rem;
    font-family: "Agbalumo", system-ui;
}

.about-us-block {
    display: flex;
    justify-content: space-evenly;
}

.about-us-community, .about-us-product, .about-us-event, .about-us-location {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
    height: 15rem;
    border: 1px solid rgba(206, 212, 218, 1);
    border-radius: 8px;
    margin-bottom: 21px;
}

.about-us-community {
    border: 2px solid rgb(58, 152, 85);
}

.about-us-community:hover {
    background: rgb(58, 152, 85);
    color: white;
}

.about-us-location {
    border: 2px solid rgb(222, 51, 51);
}

.about-us-location:hover {
    background: rgb(222, 51, 51);
    color: white;
}

.about-us-product {
    border: 2px solid rgba(128, 100, 162, 1);
}

.about-us-product:hover {
    background: rgba(128, 100, 162, 1);
    color: white;
}

.about-us-event {
    border: 2px solid goldenrod;
}

.about-us-event:hover {
    background: goldenrod;
    color: white;
}

.about-us-blk-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1rem;
}

.about-us-blk-para {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .about-us-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-community, .about-us-event, .about-us-location, .about-us-product {
        width: 90%;
        height: 100%;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 1020px) {
    .about-us-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-community, .about-us-event, .about-us-location, .about-us-product {
        width: 90% !important;
        height: 100%;
        padding: 1rem;
    }
}

@media only screen and (max-width: 1250px) {
    .about-us-community, .about-us-event, .about-us-location, .about-us-product {
        width: 45%;
        height: 100%;
        padding-bottom: 20px;
    }
}
