@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@500&display=swap');

#about-us {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
    padding-bottom: 4rem;
    
}

.about-us-heading {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-size: 3rem;
    font-family: "Agbalumo", system-ui;
}

.about-us-block {
    display: flex;
    justify-content: space-evenly;
}

.about-us-community, .about-us-product, .about-us-event, .about-us-location {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
    height: 15rem;
    border: 1px solid rgba(206, 212, 218, 0);
    border-radius: 8px;
    margin-bottom: 21px;
  
   background-color: rgb(248, 246, 244);
  
   
}
@property --gradient-angle{
    syntax :"<angle>";
    initial-value: 0deg;
    inherits: false;
}
.about-us-community::before,
.about-us-community::after,
.about-us-product::before,
.about-us-product::after,
.about-us-event::before,
.about-us-event::after,
.about-us-location::before,
.about-us-location::after{
    content: '';
    position: absolute;
    inset: -.3rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), rgba(13, 107, 83, 0.792), rgba(43, 123, 103, 0.792), rgba(143, 241, 217, 0.792),rgba(43, 88, 77, 0.792));
    border-radius: inherit;
    animation: moving 3s linear infinite;
}

.about-us-product::before,
.about-us-product::after{
    background: conic-gradient(from var(--gradient-angle), rgba(69, 13, 107, 0.792), rgba(118, 42, 168, 0.792), rgba(198, 150, 230, 0.792),rgba(77, 41, 101, 0.792));
}

.about-us-event::before,
.about-us-event::after{
    background: conic-gradient(from var(--gradient-angle), rgba(172, 109, 21, 0.792), rgba(187, 125, 37, 0.792), rgba(240, 191, 123, 0.792),rgba(182, 112, 15, 0.792));
}

.about-us-location::before,
.about-us-location::after{
    background: conic-gradient(from var(--gradient-angle), rgba(185, 16, 16, 0.796), rgba(212, 52, 52, 0.792), rgba(216, 131, 131, 0.792),rgba(166, 21, 21, 0.792));
}
@keyframes moving {
    0% {
        --gradient-angle:0deg;
    }
    100% {
        --gradient-angle:360deg;
    }
}
.about-us-community::after{
    filter: blur(8px);
}
.about-us-product::after{
    filter: blur(8px);
}
.about-us-event::after{
    filter: blur(8px);
}
.about-us-location::after{
    filter: blur(8px);
}


.about-us-community:hover {
  
    background:linear-gradient(to bottom,rgb(6, 50, 39),rgb(13, 107, 84));
    transition: all 1s ease-out;
    color: white;
}


.about-us-location:hover {
    background:linear-gradient(to bottom,rgb(47, 6, 6),red);
    transition: all 1s ease-out;
    color: white;
}


.about-us-product:hover {
   
    background:linear-gradient(to bottom,rgb(48, 12, 72),rgb(95, 24, 143));
    transition: all 1s ease-out;
    color: white;
}



.about-us-event:hover {
 
    background:linear-gradient(to bottom,rgb(127, 76, 5),rgb(220, 141, 29));
    transition: all 1s ease-out;
    color: white;
}

.about-us-blk-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1rem;
}

.about-us-blk-para {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .about-us-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-community, .about-us-event, .about-us-location, .about-us-product {
        width: 90%;
        height: 100%;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 1020px) {
    .about-us-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-community, .about-us-event, .about-us-location, .about-us-product {
        width: 90% !important;
        height: 100%;
        padding: 1rem;
    }
}

@media only screen and (max-width: 1250px) {
    .about-us-community, .about-us-event, .about-us-location, .about-us-product {
        width: 45%;
        height: 100%;
        padding-bottom: 20px;
    }
}
