.home {
    position: relative;
}

.home-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.home-container {
    position: relative;
    padding-top: 3rem;
    row-gap: 3rem;
}

.home-data {
    margin-left: 4rem;
    margin-top: 10rem;
    color: white;
    text-align: left;
}

.home-subtitle {
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.home-title {
    font-size: 50px;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.home-description {
    margin-bottom: 2rem;
    color: var(--title-color);
}

.home-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-left: 4rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.home-card {
    width: 80%;
    height: auto;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.home-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.home-card-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,hsla(0,0%,0%,0) 50%, hsl(0,0%,0%) 125%);
}

.home-card-title {
    color: white;
    font-weight: bold;
    font-size: large;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 1;
}

.home-card:hover .home-card-img {
    transform: scale(1.2);
}

.button {
    background-color: hsla(0,0%,100%,.2);
    padding: 0.8rem 2rem;
    font-size: 18px;
    border-radius: 25px;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 400;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}

.button:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
    background-color: white;
    color: black;
    font-size: large;
}

@media only screen and (max-width: 1200px) {
    .home-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}

@media only screen and (max-width: 760px) {
    .home-cards {
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0;
        padding: 1rem;
    }

    .home-data {
        text-align: center;
        margin-left: 0;
    }

    .home-card {
        width: 100%;
        height: auto;
    }
}
