@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: samarkand;
  src: url("../src/assets/SamarkanNormal-Gg5D.ttf");
}

#samarkand {
  font-family: samarkand;
}

#loader {
  margin-top: 32vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#fact{
  width:20vw;
  color:#222222;
  text-align:center;
}

#loadLogo{
  width:20vw;
  text-align:center;
}

#factHead{
  text-align:center;
  width:20vw;
  font-family:"Arial";
  font-weight: bold;
}

#logo{
  margin-left:auto;
  margin-right:auto;
  height:70px;
  width: 70px;
  border-radius: 50%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* color of the scroll bar */
::-webkit-scrollbar-thumb {
    background: rgba(249, 115, 22, 1);
}

/* color on the sides of the scroll bar */

::-webkit-scrollbar-track {
    background:white;
}

/* radius of the scroll bar */
::-webkit-scrollbar-thumb {
    border-radius: 2px;

}

body {
    font-family: "Poppins", sans-serif;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    box-shadow: 0 0 4px rgba(249, 115, 22, 1);
    border: 1px solid rgba(249, 115, 22, 1);
    padding: 10px 20px;
    border-radius: 20px;
}
.page-btn {
    list-style-type: none;
}
.page-btn-link {
    padding: 10px;
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: rgba(249, 115, 22, 1);
}
.page-btn-link:not(.active):hover {
    background-color: rgb(244, 219, 200);
}
.active {
    background-color: rgba(249, 115, 22, 1);
    color: white;
    font-weight: 600;
    border-radius: 50%;
}
.prev, .next {
    width: max-content;
    border-radius: 5px;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.break {
    color: rgba(249, 115, 22, 1);
    pointer-events: none;
    border: none;
    font-weight: 600;
}